.color-divider{
    height: 8px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.color-divider > div:nth-of-type(1){
    background: #ff5a1f;
}

.color-divider > div:nth-of-type(2){
    background-color: rgb(250, 214, 95);
}

.color-divider > div:nth-of-type(3){
    background-color: rgb(69, 223, 146);
}

.color-divider > div:nth-of-type(4){
    background-color: rgb(70, 113, 255);
}